.nav-link{
    color: antiquewhite;
}

.form-group{
    margin-top: 8%;
}

.for{
    margin-left: 70px;
}

#alfabeto1{
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 35px;
    width: 80%;
}
#alfabeto2{
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 35px;
    width: 80%;
}


.btn{
    margin-left: 75px;
    margin-top: 1%;
    border-radius: 5%;
}
#boton{
    width: 70%;
}
#demo{
    margin-left: 15%;
    margin-top: 20px;
}
#demo1{
    margin-left: 15%;
    margin-top: 20px;
}
#demo2{
    margin-left: 15%;
    margin-top: 20px;
}
.form-group1{
    margin-top: 5%;
}

.for-row{
    margin-bottom: 30px;
}